.svg-icon-benefit-icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-icon-benefit-icon-contract {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-icon-benefit-icon-guard {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.svg-icon-benefit-icon-home {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.svg-icon-benefit-icon-security {
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-icon-benefit-icon-team {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
